@model dynamic

@{
	ViewBag.Title = "WHO WE ARE";
	Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
@section Banner
{
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="front-banner">
					<div class="main-text-banner">
						<div class="vertical-text">
							Digital Leap 2017
						</div>
						<h1>Who we are</h1>
						<p>We are Sitecore oriented digital agency which helps our clients to take comprehensive benefits from the Sitecore platform and make sure that their solutions meet their business expectations.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}

  <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Solution Development</h3>
            <p>Sitecore gives customers unlimited opportunities to digitalize their business. Starting from professional content management, Sitecore allows customers to introduce personalization, gather visitor experience and promote it according to the business needs. Sitecore® Experience Accelerator (SXA) helps significantly decrease time to market and let our clients meet their business expectations.</p>
            <p>Your initial Sitecore implementation is extremely important as it creates the foundation for your future digital journey. To succeed with this complex task you need a trusted partner that has experience in building custom solutions.
            </p>
            </div>
        </div>
    </div>

    
	<div class="container fp-capabilities">
        <div class="row">
            <div class="col-xs-1 col-sm-6 col-md-6 col-lg-3 capabilities-item">
                <img class="icon-copabilities" src="img/content_migration-01.svg" alt="">
                <h3>Content Migration</h3>
                <p>Many organizations that decided to get digitally with Sitecore already have presence of its content at WEB. We have necessary competencies to migrate your existing solution to Sitecore platform.</p>
            </div>
            <div class="col-xs-1 col-sm-6 col-md-6 col-lg-3 capabilities-item">
                <img class="icon-copabilities" src="img/solution_audit-01.svg" alt="">
                <h3>Solution Audit</h3>
                <p>For companies that already have a Sitecore solution, it is vital to understand the health of the system as a whole before introducing new business features. We provide auditing services including verification of a company digital system to make sure it follows Sitecore best practices.</p>
            </div>
            <div class="col-xs-1 col-sm-6 col-md-6 col-lg-3 capabilities-item">
                <img class="icon-copabilities" src="img/upgrade-01.svg" alt="">
                <h3>Upgade</h3>
                <p>Every new version of Sitecore Platform brings something spectacular. Following to Sitecore Platform helps clients to streamline their digital journey, it is important to follow this trend. Our company provides services of upgrading your solution to a new version of Sitecore Platform and configuring it to prepare the company for the next digital leap</p>
            </div>
            <div class="col-xs-1 col-sm-6 col-md-6 col-lg-3 capabilities-item">
                <img class="icon-copabilities" src="img/integration-01.svg" alt="">
                <h3>Integration</h3>
                <p>Sitecore solution is more than just CMS. It requires integration with different company infrastructural systems or third party services. We can build bridges between Sitecore platform and other services inside or outside client company.</p>
            </div>
        </div>
